<div class= "sidebar">
  <h6>人気のタグ</h6>
  <% @tags.each do |tag| %>
  	<%= link_to tag.name, tag_show_path(:tag_name => tag.name), class: "badge badge-pill badge-secondary" %>
  <% end %>
  <h6>人気のユーザー</h6>
  <% @users.each do |user| %>
  	<div>
    	<%= user.name %>
    	<span>
    		<i class="fas fa-user"></i>
    		<%= user.followers.count %>
    	</span>
   </div>
  <% end %>
</div>